.categories {
  width: 850px;
}

.part-content {
  display: flex;
  margin: 2em 1em;
  position: relative;
}

@media (max-width: 768px) {
  .part-content {
    flex-direction: column;
    margin: 2rem 0 0 0;
  }

  .categories {
    width: 100%;
    padding: 0.5em;
  }
}
