.cart {
  background-color: var(--fifth-color);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-width: 350px;
  border-radius: var(--border-radius);
  box-shadow: 1px 2px 12px 2px #bfbfbf;
  position: sticky;
  top: 0;
  height: fit-content;
}

.cart button {
  width: 100%;
  background-color: var(--primary-color);
  border: none;
  padding: 1em;
  border-radius: var(--border-radius);
  color: var(--fifth-color);
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0.7em;
}

.cart p {
  text-align: center;
  padding: 3em 0;
}

.subTotal {
  color: var(--grey-color);
  /* border-top: 1px solid var(--grey-color); */
}

.subTotal > div {
  border-top: 1px solid var(--grey-color);
  padding: 1.2em 0;
}

.subTotal div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.3em 0;
}

.total {
  font-weight: 600;
  font-size: 1.2em;
  color: black;
}

.items-cart {
  max-height: 300px;
  overflow-y: scroll;
}

@media (max-width: 1124px) {
  .cart {
    margin-left: 2em;
  }
}

@media (max-width: 768px) {
  .cart {
    position: sticky;
    bottom: 0;
    margin-left: 0;
    left: 0;
    min-width: 100%;
    border-radius: 0px;
  }
}
