.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--grey-color);
  padding: 0.7em 0;
}

.result-infos {
  display: flex;
  align-items: center;
  gap: 0.8em;
  max-width: 245px;
  line-height: 1.2em;
}

.total {
  font-weight: 600;
  font-size: 1.1em;
  border-top: 1px solid var(--grey-color);
  padding: 1rem 0;
}
